/* ====================================
   NavigationLink.css — Style des liens
   - Responsive mobile / desktop
   ====================================*/

/* Mobile-first */
.link {
    font-size: 16px;
    font-weight: bold;

}

.link a {
    text-decoration: none;
    color: #36B9BD;
}

.link a:hover {
    text-decoration: none;
    color: #48A734;
}

.link a:active {
    text-decoration: none;
    color: #E9446B;
}

/* Media queries : Desktop & tablette */
@media (min-width: 768px) {
    .link {
        font-size: 22px;
    }
}

