:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.5;
}

input {
  border-radius: 0.5rem;
  height: 4rem;
  padding: 0 1.5rem;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-date-picker {
  border-radius: 0.5rem;
  height: 4rem;
  padding: 0 1.5rem;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-date-picker__wrapper {
  border: none !important;
  color: #333;
  background-color: #fff;
}

.react-date-picker__inputGroup__input {
  box-shadow: none;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 480px) {
  main {
    padding: 2rem 4rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 1.2;
  }
}
