/* =====================================
   Home.css — Style de la page Accueil
   - Affichage des différents composants
   - Responsive mobile / desktop
   ===================================== */
   
.page-title {
    margin-top: 200px;
}

p {
    margin-top: 3rem;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.message-erreur {
    margin-top: 13rem;
    font-size: 18px;
    color: #a94442;
    font-weight: bold;
    text-align: center;
}

/* Media queries : Desktop & tablette */
@media (min-width: 768px) {
    p {
        font-size: 22px;
    }

    .message-erreur {
        font-size: 22px;
        margin-top: 10rem;
    }
}